@import "../styles.base.pcss";

:root {
  --primary: #979797;
  --secondary: #eae2e9;
  --text: #514f50;
  --text-alt: #ffffff;
  --background: #fafafa;
  --foreground: #ffffff;
  --border-color: #f0ebef;
  --header-background: #eae2e9;
  --aside-text: #333233;
  --aside-text-active: #000000;
  --aside-background: var(--secondary);
  --aside-background-active: #dcced9;
  --aside-background-active-state: #808080;
}
