@import "../styles.base.pcss";

:root {
  --primary: #2e5797;
  --secondary: #b94400;
  --text: #464646;
  --text-alt: #ffffff;
  --background: #ebdc6b;
  --foreground: var(--secondary);
  --border-color: #ca8d41;
  --header-background: var(--primary);
  --aside-text: var(--text-alt);
  --aside-text-active: var(--aside-text);
  --aside-background: var(--secondary);
  --aside-background-active: #bc5b00;
  --aside-background-active-state: #d3443c;
}
