@import "../styles.base.pcss";

:root {
  --primary: #96b5b4;
  --secondary: #65737e;
  --text: #f9f9f9;
  --text-alt: #ffffff;
  --background: #2d343d;
  --foreground: var(--secondary);
  --border-color: rgba(0, 0, 0, 0.6);
  --header-background: #96b5b4;
  --aside-text: #e8e8e6;
  --aside-text-active: #ffffff;
  --aside-background: #889fb1;
  --aside-background-active: #8fa1b3;
  --aside-background-active-state: #6f8ba0;
}
