@import "../styles.base.pcss";

:root {
  --primary: #b7a172;
  --secondary: #c3b085;
  --text: #4a4a4a;
  --text-alt: #ffffff;
  --background: #f4f4f4;
  --foreground: #ffffff;
  --border-color: #d5caaf;
  --header-background: #ffffff;
  --aside-text: #e4e4e4;
  --aside-text-active: #ececec;
  --aside-background: var(--secondary);
  --aside-background-active: #333333;
  --aside-background-active-state: #d4af37;
}
