@import "../styles.base.pcss";

:root {
  --primary: #cd5f23;
  --secondary: #f1dacd;
  --text: #372f2b;
  --text-alt: #ffffff;
  --background: #fbfbfb;
  --foreground: #ffffff;
  --border-color: #f4e6df;
  --header-background: #ffffff;
  --aside-text: #63554f;
  --aside-text-active: #372f2b;
  --aside-background: var(--secondary);
  --aside-background-active: #EBC9B7;
  --aside-background-active-state: #F4C5AE;
}