@import "../styles.base.pcss";

:root {
  --primary: #96b5b4;
  --secondary: #65737e;
  --text: #f9f9f9;
  --text-alt: #ffffff;
  --background: #2d343d;
  --foreground: var(--secondary);
  --border-color: rgba(0, 0, 0, 0.6);
  --header-background: #45807f;
  --aside-text: #ffffff;
  --aside-text-active: var(--aside-text);
  --aside-background: #54768c;
  --aside-background-active: #5e7992;
  --aside-background-active-state: var(--aside-background);
}
