@import "../styles.base.pcss";

:root {
  --primary: #f7f8ff;
  --secondary: #fdfbed;
  --text: #555556;
  --text-alt: #61615d;
  --background: #ffffff;
  --foreground: #ececec;
  --border-color: #fdfcf3;
  --header-background: #ffffff;
  --aside-text: #333233;
  --aside-text-active: #000000;
  --aside-background: var(--secondary);
  --aside-background-active: #f2f2f2;
  --aside-background-active-state: #d1d2d8;
}
