@import "../styles.base.pcss";

:root {
  --primary: #36454f;
  --secondary: #e8eef4;
  --text: #0c0c0c;
  --text-alt: #2c2d30;
  --background: #fafafa;
  --foreground: var(--secondary);
  --border-color: rgba(16, 16, 16, 0.3);
  --header-background: #666666;
  --aside-text: var(--secondary);
  --aside-text-active: #ffffff;
  --aside-background: var(--primary);
  --aside-background-active: #2d3941;
  --aside-background-active-state: #232c33;
}
