@import "../styles.base.pcss";

:root {
  --primary: #d3ab72;
  --secondary: #24353a;
  --text: #545454;
  --text-alt: #ffffff;
  --background: #f4f4f4;
  --foreground: #ffffff;
  --border-color: rgba(114, 126, 128, 0.6);
  --header-background: #24353a;
  --aside-text: #c3c3c3;
  --aside-text-active: #929292;
  --aside-background: var(--secondary);
  --aside-background-active: #1e2b2f;
  --aside-background-active-state: #b29262;
}
