@import "../styles.base.pcss";

:root {
  --primary: #2b5d7b;
  --secondary: #8f454e;
  --text: #3D3D3D;
  --text-alt: #ffffff;
  --background: #d1b86b;
  --foreground: var(--secondary);
  --border-color: #ad7048;
  --header-background: var(--primary);
  --aside-text: #e8e8e6;
  --aside-text-active: #ffffff;
  --aside-background: var(--secondary);
  --aside-background-active: #87414b;
  --aside-background-active-state: #9c543a;
}
