@import "../styles.base.pcss";

:root {
  --primary: #36454f;
  --secondary: #a9adb2;
  --text: var(--primary);
  --text-alt: #2c2d30;
  --background: #f2f2f2;
  --foreground: #a9adb2;
  --border-color: rgba(16, 16, 16, 0.3);
  --header-background: var(--primary);
  --aside-text: #fbfbfb;
  --aside-text-active: #ffffff;
  --aside-background: #747474;
  --aside-background-active: #3f3f3f;
  --aside-background-active-state: #343434;
}
