@import "../styles.base.pcss";

:root {
  --primary: #beaa94;
  --secondary: #524841;
  --text: #120706;
  --text-alt: #f2f1f1;
  --background: #eee8e3;
  --foreground: #ffffff;
  --border-color: rgba(114, 126, 128, 0.6);
  --header-background: #85776b;
  --aside-text: #c3c3c3;
  --aside-text-active: #929292;
  --aside-background: #85776b;
  --aside-background-active: #beaa94;
  --aside-background-active-state: #a1907f;
}

.docs {
  main {
    background-color: var(--text-alt);
  }
}
