@import "../styles.base.pcss";

:root {
  --primary: #ffc798;
  --secondary: #d06565;
  --text: #ffffff;
  --text-alt: #000000;
  --background: #9e344b;
  --foreground: var(--secondary);
  --border-color: rgba(188, 83, 91, 1);
  --header-background: #006a94;
  --aside-text: #e8e8e6;
  --aside-text-active: #ffffff;
  --aside-background: #c13333;
  --aside-background-active: #9d3f3f;
  --aside-background-active-state: #825e41;
}
