@import "../styles.base.pcss";

:root {
  --primary: #ffc798;
  --secondary: #d06565;
  --text: #ffffff;
  --text-alt: #000000;
  --background: #9e344b;
  --foreground: var(--secondary);
  --border-color: rgba(188, 83, 91, 1);
  --header-background: #6cb9ec;
  --aside-text: #e8e8e6;
  --aside-text-active: #ffffff;
  --aside-background: var(--secondary);
  --aside-background-active: #c64a49;
  --aside-background-active-state: #cb8c58;
}
