<footer role="contentinfo">
    <p>{{ "THEME_SCHOLAR.MADE_WITH"|t }} <a href="https://github.com/OleVik/grav-theme-scholar">Scholar Theme</a>, {{ "THEME_SCHOLAR.POWERED_BY"|t|lower }} <a href="https://getgrav.org/">Grav</a>.</p>
</footer>