.metadata {
  dt {
    /* display: inline-block; */
  }
  dd {
    /* display: inline-block; */
    margin: 0;
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        /* display: inline; */
        margin: 0 0 0 1rem;
      }
    }
  }
}
