{% extends 'partials/base.html.twig' %}

{% set navigablePage = page_navigation(page.content ?? '', page.header.itemize ?? theme.itemize ?? false) %}
{% set language = grav.language.getActive ?: grav.config.site.default_lang|default('en') %}

{% if navigablePage.content is empty %}
    {% if page.evaluate([{'@self.children': ''}])|length > 0 %}
        {% set mode = 'children' %}
        {% set collection = page.evaluate([{'@self.children': ''}]) %}
    {% elseif page.evaluate([{'@self.siblings': ''}])|length > 0 %}
        {% set mode = 'siblings' %}
        {% set collection = page.evaluate([{'@self.siblings': ''}]) %}
    {% else %}
        {% set mode = 'blank' %}
    {% endif %}
    {% set body_classes = (body_classes|default('book page listing ' ~ mode)) %}
{% else %}
    {% set body_classes = (body_classes|default('book page')) %}
{% endif %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/theme.css', 100) %}
            {% do assets.addCss('theme://css/print.css', {'priority': 99, 'media': "print"}) %}
    {% do assets.addCss('theme://css/themes/metal.css', 98) %}
    {% do assets.addCss('theme://css/custom.css', 97) %}
{% endblock %}

{% block main %}

<main>
    {% block article %}
    <article typeof="schema:{{ schema_type(page.template) }}">
        {% block content %}
        {% with {
            'title': page.title,
            'subtitle': page.header.subtitle ?? null,
            'metadata': true,
            'content': navigablePage.content|strip_html_tags(['h1'])
            } %}
            {{ block('content', 'partials/book/content.html.twig') }}
        {% endwith %}
        {% if navigablePage.content is empty %}
            {% if page.template == 'chapter' %}
                {% with {
                    'page': page,
                    'collection': collection.order(
                        page.header.content.order.by ?? 'folder',
                        page.header.content.order.dir ?? 'asc'
                        )
                    } %}
                    {{ block('content', 'partials/book/chapter/listing.html.twig') }}
                {% endwith %}
            {% else %}
                {% with {
                    'page': page,
                    'collection': collection.order(
                        page.header.content.order.by ?? 'folder',
                        page.header.content.order.dir ?? 'asc'
                        )
                    } %}
                    {{ block('content', 'partials/book/listing.html.twig') }}
                {% endwith %}
            {% endif %}
        {% endif %}
        {% endblock %}
    </article>
    {% endblock %}
</main>

{% block footer %}
{% include 'partials/footer.html.twig' %}
{% endblock %}

{% endblock %}
