// Base Sizes
$core-font-size: 1.05rem !default;
$core-line-height: 1.7 !default;

$h1-font-size: $core-font-size+1.50 !default;
$h2-font-size: $core-font-size+1.10 !default;
$h3-font-size: $core-font-size+0.75 !default;
$h4-font-size: $core-font-size+0.35 !default;
$h5-font-size: $core-font-size - 0.15 !default;
$h6-font-size: $core-font-size - 0.35 !default;

// Spacing
$leading-margin: $core-line-height * 1rem !default;

// Body Base
body {
	font-family: $font-family-default;
	letter-spacing: -0.03rem;
	font-weight: 400;
	font-size: $core-font-size;
	line-height: $core-line-height;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-header;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	line-height: 150%;
	letter-spacing: -0px;
	overflow-wrap: break-word;
	overflow: visible;
	word-break: break-word;
	white-space: normal;
	margin: ($leading-margin / 4) 0 ($leading-margin / 2) 0;
}

h1 {
	text-align: center;
	letter-spacing: -3px;
	font-size: $h1-font-size;
}

h2 {
	letter-spacing: -2px;
	font-size: $h2-font-size;
}

h3 {
	letter-spacing: -1px;
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

// Paragraph
p {
	margin: $leading-margin 0;
}

// Lists
ul,
ol {
	margin-top: $leading-margin;
	margin-bottom: $leading-margin;

	ul,
	ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

// Blockquote
blockquote {
	border-left: 10px solid $rule-color;
	margin: $leading-margin 0;
	padding-left: $leading-margin / 2;

	p {
		font-size: 1.1rem;
		color: contrast-color($page-bg, #999999);
	}

	cite {
		display: block;
		text-align: right;
		color: contrast-color($page-bg, #666666);
		font-size: $core-font-size - 0.125;

		&:before {
			content: "\2014 \0020";
		}
	}
}

// Inline and Code
pre {
	margin: $leading-margin 0;
	padding: $content-padding;
}

code {
	vertical-align: bottom;
}

// Extras
small {
	font-size: $core-font-size - 0.125;
}

hr {
	border-left: none;
	border-right: none;
	border-top: none;
	margin: $leading-margin 0;
}

// NOTES!!!!
blockquote {
	position: relative;
}

blockquote blockquote {
	position: static;
}

blockquote>blockquote>blockquote {

	margin: 0;

	p {
		padding: 15px;
		display: block;
		font-size: 1rem;
		margin-top: 0rem;
		margin-bottom: 0rem;
		color: #666;

		&:first-child {
			&:before {
				position: absolute;
				top: 2px;
				color: $white;
				font-family: FontAwesome;
				content: 'ïª';
				left: 10px;
			}

			&:after {
				position: absolute;
				top: 2px;
				color: $white;
				left: 2rem;
				font-weight: bold;
				content: 'Info';
			}
		}
	}

	>p {
		// Yellow
		margin-left: -71px;
		border-top: 30px solid #F0B37E;
		background: #FFF2DB;
	}

	>blockquote>p {
		// Red
		margin-left: -94px;
		border-top: 30px solid rgba(#D9534F, 0.8);
		background: #FAE2E2;

		&:first-child:after {
			content: 'Warning';
		}
	}

	>blockquote>blockquote>p {
		// Blue
		margin-left: -118px;
		border-top: 30px solid #6AB0DE;
		background: #E7F2FA;

		&:first-child:after {
			content: 'Note';
		}
	}

	>blockquote>blockquote>blockquote>p {
		// Green
		margin-left: -142px;
		border-top: 30px solid rgba(#5CB85C, 0.8);
		background: #E6F9E6;

		&:first-child:after {
			content: 'Tip';
		}
	}

}

// Inline and Code
code,
kbd,
pre,
samp {
	font-family: $font-family-mono;
}

code {
	background: $code-bg;
	color: amplify($code-text, 10%);
	padding: .2rem .4rem;
	border-radius: 3px;
}

pre {
	padding: 1rem;
	margin: 2rem 0;
	background: $pre-bg;
	border: 1px solid $core-border-color;
	border-radius: 2px;
	line-height: 1.15;
	font-size: 1rem;

	code {
		color: $pre-text;
		background: inherit;
		font-size: 1rem;
	}
}

// Extras
hr {
	border-bottom: 4px solid $rule-color;
}

// Page Title
.page-title {
	margin-top: -25px;
	padding: 25px;
	float: left;
	clear: both;
	background: $core-accent;
	color: $white;
}

// Anchor links
#body {
	a.anchor-link {
		color: #ccc;
	}

	a.anchor-link:hover {
		color: $core-accent;
	}
}

// Scrollbar
.scrollbar-inner>.scroll-element .scroll-element_track {
	background-color: rgba($white, 0.3);
}

.scrollbar-inner>.scroll-element .scroll-bar {
	background-color: amplify(#A1C4E5, 5%);
}

.scrollbar-inner>.scroll-element:hover .scroll-bar {
	background-color: #ccc;
}

.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar {
	background-color: #ccc;
}