:root {
  --Raleway: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --OpenSans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --Montserrat: "Montserrat", Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
