{% extends 'partials/base.html.twig' %}

{% set body_classes = (body_classes|default('page')) %}
{% set navigablePage = page_navigation(page.content ?? '', page.header.itemize ?? theme.itemize ?? false) %}

{% block main %}

<main>
    {% block article %}
    <article typeof="schema:{{ schema_type(page.template) }}">
        {% block content %}
        <h1>{{ page.title }}</h1>
        {% if page.header.subtitle %}
        <p class="subtitle">{{ page.header.subtitle }}</p>
        {% endif %}
        {% include 'partials/components/metadata.html.twig' with {'page': page} %}
        {{ navigablePage.content|strip_html_tags(['h1']) }}
        {% endblock %}
    </article>
    {% endblock %}
</main>

{% block footer %}
{% include 'partials/footer.html.twig' %}
{% endblock %}

{% endblock %}
