{% extends 'default.html.twig' %}

{% set body_classes = (body_classes|default('page article')) %}
{% set navigablePage = page_navigation(page.content ?? '', page.header.itemize ?? theme.itemize ?? false) %}

{% block main %}

{% block header %}
<header role="banner">
    {% include 'partials/header.html.twig' with {'page': page, 'navigablePage': navigablePage} %}
</header>
{% endblock %}

<main>
    {% block search_results %}
        {% include 'partials/components/search/wrapper.html.twig' %}
    {% endblock %}
    {% block article %}
    <section>
        <article typeof="schema:{{ schema_type(page.template) }}">
            {% block content %}
            <h1>{{ page.title }}</h1>
            {% if page.header.subtitle %}
            <p class="subtitle">{{ page.header.subtitle }}</p>
            {% endif %}
            {% include 'partials/components/article/metadata.html.twig' with {'page': page} %}
            {{ navigablePage.content|strip_html_tags(['h1']) }}
            {% endblock %}
        </article>
    </section>
    {% endblock %}
</main>

{% block footer %}
{% include 'partials/footer.html.twig' %}
{% endblock %}

{% endblock %}

{% block append %}
    {% if config.theme.toolbar.navigation and navigablePage.headings is not empty %}
        {% include 'partials/drawer.html.twig' with {headings: navigablePage.headings} %}
    {% endif %}
{% endblock %}
