{% extends page.topParent.template ?? 'default' ~ '.html.twig' %}

{% set renderSearch = false %}

{% block javascripts %}
    {% with {
        'mode': 'form'
        } %}
        {{ block('javascripts', 'partials/components/search/assets.html.twig') }}
    {% endwith %}
{% endblock %}

{% block search_results %}{% endblock %}

{% block article %}
<article class="search">
    <h1>{{ "THEME_SCHOLAR.SEARCH.ADVANCED"|t }}</h1>
    {% include 'partials/components/search/form.html.twig' %}
    <h2>{{ "THEME_SCHOLAR.SEARCH.RESULTS"|t }}</h2>
    <aside class="search-results" aria-label="{{ "THEME_SCHOLAR.SEARCH.RESULTS"|t }}"></aside>
</article>
{% endblock %}