{% set collection = page.evaluate([{'@page.descendants': page.route}]) %}

{#
Object-dodging:
https://github.com/anseki/leader-line/issues/52
https://jsfiddle.net/gmtwpL16/
https://jsfiddle.net/bg7chnvf/

Page-manipulation:
https://github.com/rockettheme/toolbox/blob/develop/ArrayTraits/src/NestedArrayAccess.php
https://discourse.getgrav.org/t/grav-common-page-header-class/273
#}

<section role="list">
{% include 'partials/sequence/item.html.twig' with {'page': page, 'next': next, 'index': index, 'level': 'h2'} %}
{% if collection|length > 0 %}
    {% for item in collection %}
        {% set next = collection.prevSibling(item.path) %}
        {% include 'partials/sequence/item.html.twig' with {'page': item, 'next': next, 'index': index ~ '.' ~ loop.index, 'level': 'h3'} %}
    {% endfor %}
{% endif %}
</section>